{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}DPF Platforma{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main/css/site.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>

<header class="header">
  <div class="header-inner container">
    <div class="header-logo-group">
      <div class="logo-icon"><span class="logo-symbol">👾</span></div>
      <a href="{% url 'home' %}" class="brand-link">Digital Performance Foundation</a>
    </div>

    <nav class="header-nav">
      {% if user.is_authenticated %}
        <a href="{% url 'profil' %}">Profil</a>
        <a href="{% url 'materiale' %}">Materiale</a>
        <a href="{% url 'chat_inbox' %}">Mesagerie</a>
        
        <a href="{% url 'profesori' %}">
            {% if user.rol == 'ELEV' %}
                Profesori
            {% else %}
                Elevi
            {% endif %}
        </a>
        <a href="{% url 'logout' %}" class="btn btn--light">Deconectare</a>
      {% else %}
        <a href="#" aria-disabled="true">Contact</a>
        <a href="{% url 'login' %}" class="btn btn--light">Login</a>
      {% endif %}
    </nav>
  </div>
</header>

<main class="page container">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="msg {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <div class = "footer-container">
  <div class="container footer-grid">
    <div>
      <h3>CONTACTEAZĂ-NE:</h3>
      <p><strong>Telefon:</strong> +40752300471</p>
      <p><strong>E-mail:</strong> support@dpf.ro</p>
      <p><strong>Adresa:</strong> Bulevardul Iuliu Maniu 15, București </p>
    </div>
  </div>
    </div>
</footer>

{% block extra_js %}{% endblock %}
</body>
</html>