<!DOCTYPE html>
<html>

<head>
    <title>Dashboard Profesor</title>
</head>

<body>
    <h1>Bun venit, Domnule Profesor {{ user.last_name }}!</h1>

    <p>Utilizator logat: {{ user.username }}</p>
    <p>Rolul tău: {{ user.get_rol_display }}</p>

    {% if user.profesor_profile.materie_predata %}
    <p>Materia pe care o predați: <strong>{{ user.profesor_profile.materie_predata.nume }}</strong></p>
    {% else %}
    <p>Vă rugăm să vă setați materia predată din profil.</p>
    {% endif %}

    <hr>

    <h2>Materialele create de dumneavoastră:</h2>
    <ul>
        {% for material in materiale %}
        <li>
            <strong>{{ material.titlu }}</strong>
            (pentru {{ material.get_an_studiu_display }})

            {% if material.fisier %}
            - <a href="{{ material.fisier.url }}" target="_blank">[Vezi fișier]</a>
            {% endif %}
        </li>
        {% empty %}
        <li>Nu ați creat niciun material momentan.</li>
        {% endfor %}
    </ul>

</body>

</html>